# Ignore everything
/*
/*/

# Inverse ignore some stuff
!/Assets/
!/ProjectSettings/
!/GameData/
!/Docs/
!.gitignore
!README.md
!*.txt
!*.keystore
!*.odt

Logs/
Logs/*
level.txt
Assets/GameLabs/Forge/Settings/forge.config.json

# Generated items - keep folder structure but ignore all contents
Assets/Resources/Generated/
Assets/GameLabs/Forge/Generated/
*.generated.asset
*.generated.asset.meta

#Core/
#Core
#*Core.meta

# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini

Assets/GameLabs/Forge/Settings/forge.stats.json
